[submodule "server"]
	path = server
	url = https://github.com/toms-dev/typescript-game-engine-server.git
	branch = master
[submodule "samples"]
	path = samples
	url = https://github.com/toms-dev/typescript-game-engine-samples.git
	branch = master
[submodule "client"]
	path = client
	url = https://github.com/toms-dev/typescript-game-engine-client.git
	branch = master
